// tool
.tool {
  background-color: $info;
  height: 100vh;
  padding-right: 85px;

  &-list {
    height: 100%;
  }

  &-item {
    margin-bottom: 50px;
    i {
      font-size: $font-size-base * 2.25; // 36px
      color: $white;
    }
  }
}
