// --------------------------------
// color
// --------------------------------
$red: #ff4384;
$pink: #ffedf7;
$blue: #00a7ff;
$blue-dark: #003164;
$bule-light: #e5f3ff;
$white: #ffffff;

// --------------------------------
// theme color
// --------------------------------
$primary: $red;
$secondary: $blue;
$light: $white;
$info: $blue-dark;

// --------------------------------
// mission color
// --------------------------------
$mission-bg-color: $pink;
$mission-bg-relax-color: $bule-light;
$mission-color: $red;
$mission-relax-color: $blue;


// --------------------------------
// font style
// --------------------------------
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-l: $font-size-base * 1.5 !default; // 24px
$font-size-s: $font-size-base * 0.875 !default;

// $font-color: $red;

// --------------------------------
// pomodoro
// --------------------------------
// p = pomodoro
$pomodoro-length: 540px;
$pomodoro-color: $red;
$pomodoro-relax-color: $blue;


